.header {
  background-image: url("/Thumnails/210728_takeoff_stills_by_Jubal_Battisti_029.jpg");
  height: 28em;
  background-position: center center;
  background-color: #00000040;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  .title {
    color: rgb(255, 255, 255);
    mix-blend-mode: exclusion;
    font-size: 3em;
  }
}
.category {
  text-align: center;
}

@media (max-width: 600px) {
  .header {
    height: 20em;
    background-size: cover;
  }
}

@media (max-width: 1000px) and (mix-width: 601px) {
  .header {
    height: 20em;
    background-size: cover;
  }
}

// Contents

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  .videoWrapper {
    height: auto;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    .react_player {
      height: 18em;
      width: 32em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: 1001px) {
  .content .videoWrapper .react_player {
    height: 13em;
    width: 23em;
  }
}

@media (max-width: 600px) {
  .contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .react_player {
      height: 13em;
      width: 23em;
    }
  }
}
