.photoGalleryWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .card {
    height: 15em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20em;
    cursor: pointer;
    img {
      height: 100%;
      object-fit: cover;
      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
  }
}

// Lightbox styles

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 1);
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .closeLightbox {
    position: fixed;
    right: 10%;
    top: 1em;
    z-index: 15;
    color: rgba(255, 255, 255, 0.5);
    &:hover {
      color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
    }
  }
  .modalContent_lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .lightboxImg {
      width: 80%;
      max-height: 85vh;
      object-fit: contain;
    }
    .lightboxDescriptions {
      padding: 1em 1em;
      display: flex;
      justify-content: space-between;
      width: 80%;
      color: rgba(255, 255, 255, 0.8);
      font-size: 0.9em;
    }
  }
}

.sliderNavigationGroup {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.sliderNavigationLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 90%;
  bottom: 0;
  cursor: url("/arrows/chevron-left_white.png"), default;
}

.sliderNavigationRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 90%;
  bottom: 0;
  cursor: url("/arrows/chevron-right_white.png"), default;
}

// @media (max-width: 800px) {
//   .modalContent_md {
//     display: block;
//   }
//   .modalContent_lg {
//     display: none;
//   }
// }
