.p4Main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  .description {
    max-width: 25em;
    margin: 0 1em;
    text-align: justify;
    strong {
      font-size: 1.2em;
    }
  }
  .photoSection {
    width: 50%;
    img {
      max-height: 40em;
      object-fit: contain;
    }
  }
}

// Slider styles
.slides {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  height: 100%;
  width: 50%;
  right: -4em;
  top: 0;
  cursor: url(/images/chevron-right_white.png);
  z-index: 5;
}

.prevArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  height: 100%;
  width: 50%;
  left: -4em;
  top: 0;
}

.arrows {
  z-index: 5;
  width: 4em;
}

.slides .sliderImg {
  align-self: center;
}

// Links
.description .link {
  font-size: 0.6em;
  color: #808080;
  &:hover {
    color: #303030;
  }
}

@media (max-width: 700px) {
  .p4Main {
    flex-direction: column;
    align-items: inherit;
    .photoSection {
      margin-bottom: 1em;
      width: 100%;
      .p4_image {
        padding: 0;
      }
    }
    .description {
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }
  .nextArrow,
  .prevArrow {
    display: none;
  }
}
