.p4Main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  .description {
    max-width: 25em;
    margin: 0 1em;
    text-align: justify;
    strong {
      font-size: 1.2em;
    }
  }
  .photoSection {
    width: 50%;
    img {
      max-height: 40em;
      object-fit: contain;
    }
  }
}

// Slider styles
.slides {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextArrow,
.prevArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nextArrow {
  position: absolute;
  height: 100%;
  right: -2em;
  top: 0;
}

.prevArrow {
  position: absolute;
  height: 100%;
  left: -2em;
  top: 0;
}

.arrows {
  z-index: 5;
  width: 4em;
}

// Links
.description .link {
  font-size: 0.6em;
  color: #808080;
  &:hover {
    color: #303030;
  }
}

@media (max-width: 700px) {
  .p4Main {
    flex-direction: column;
    align-items: inherit;
    .photoSection {
      margin-bottom: 1em;
      width: 100%;
      .p4_image {
        padding: 0;
      }
    }
    .description {
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }
  .nextArrow,
  .prevArrow {
    display: none;
  }
}
